#site-footer {
	text-align: center;
	a {
		color: $medium-gray;
		@include hover {
			color: $primary-color;
		}
	}
}

@include breakpoint(medium) {
	#footer-social-menu {
		text-align: left;
	}

	#footer-language-menu {
		text-align: right;
	}
}
