/*********************
FOOTER STYLES
*********************/
.footer {

}

#site-footer {
	text-align: center;
	clear: both;
	// background-color: $light-gray;

	a {
		color: $medium-gray;
		@include hover {
			color: $primary-color;
		}
	}

	body:not(.home) & {
		// margin-top: 1em;
		position: absolute;
		bottom:0;
		left:0;
		width:100%;
	}

	.home & {
		position:fixed;
		bottom:0;
		z-index:100000;
		width: 100%;
		background-color: transparentize($topbar-background, .2);
	}
}

.inner-footer {
	@include xy-grid;
	// background-color: $light-gray;
}

#footer-credits {
	flex-grow: 1;
	width: 50%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	p {
		margin:0;
		line-height: 1.2;
	}
}


@include breakpoint(small only) {
	.inner-footer {
		padding: 0.25rem 20px;
		justify-content: space-between;
		align-items: center;
	}

	#footer-social-menu {
		flex-grow: 1;
		width: 25%;
		a {
			padding: 0.7rem 0.75rem 0.7rem 0;
		}
	}

	#footer-credits {
		flex-grow: 1;
		width: 50%;
	}

	#footer-language-menu {
		flex-grow: 1;
		width: 25%;
		a {
			padding: 0.7rem 0;
		}
	}

	#footer-credits,
	#footer-language-menu {
		font-size: $small-font-size;
	}

}

@include breakpoint(medium) {
	.inner-footer {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

	#footer-social-menu {
		text-align: left;
		@include xy-cell(4 of 12, true, 40);
	}

	#footer-credits {
		@include xy-cell(4 of 12, true, 40);
	}

	#footer-language-menu {
		text-align: right;
		font-size: $small-font-size;
		@include xy-cell(4 of 12, true, 40);
	}
}
