.inner-content {
	@include xy-grid-container;
	// background: #ccc;
	//Todo: foundation settings $grid-container-padding medium? it's at default
}

.content-row {
	@include xy-grid;
	// color: #fff;

	.main {
		// background: #fff;
		@include xy-cell(full, true, 20);
	    //settings: $grid-container-padding: small: 20px, so outer margin is 20
	    // p:first-child {
	    //     background: #aaa;
	    //     margin-left: -20px;
	    //     margin-right: -20px;
	    // }
	}
	.sidebar {
		// background: #fff;
		@include xy-cell(full, true, 20);
		// padding: 28px 35px;
	}

	@include breakpoint(medium) {
	    .main {
	    	@include xy-cell(7 of 12, true, 40);
	    }
	    .sidebar {
	    	@include xy-cell(5 of 12, true, 40);
	    }
	}

	@include breakpoint(large) {
	    .main {
	        @include xy-cell(8 of 12, true, 60);
	    }
	    .sidebar {
	        @include xy-cell(4 of 12, true, 60);
	    }
	}
}

.sidebar {
	ul {
		@include reset-list;
		margin-bottom: 1rem;
	}
}

.callout {
	@include breakpoint(small only) {
		margin-right: -20px;
		margin-left: -20px;
	}
}