.cp-language-dropup {
	text-transform: uppercase;
}

.drop-up-side.menu {
	li {
		position: relative;
		// background: $light-gray;
		// border: 1px solid;

		> .submenu {
			display: block;
			visibility: hidden
			opacity: 0;
			position: absolute;
			top: -76px;

			transition: opacity 1s ease-out, visibility 1s ease-out;

			

			&.active {
				// display: block;
				visibility: visible;
				opacity: 1;
			}


			@include breakpoint(medium) {
				// display: flex;
				flex-direction: row;
				height: 100%;
				top: 2px;
				right: 75px;

				&.active {
					display: flex;
				}

				li {
					display:inline-block;
				}
			}
		}
	}
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}