.cp-language-dropup {
	text-transform: uppercase;
}

.drop-up-side.menu {
	li {
		position: relative;
		// background: $light-gray;
		// border: 1px solid;

		> .submenu {
			display: none;
			position: absolute;
			top: -76px;

			&.active {
				display: block;
			}


			@include breakpoint(medium) {
				// display: flex;
				flex-direction: row;
				height: 100%;
				top: 2px;
				right: 75px;

				&.active {
					display: flex;
				}

				li {
					display:inline-block;
				}
			}
		}
	}
}