.menu {
	a {
		color: $body-font-color;
		text-transform: uppercase;
		@include hover {
			color: $primary-color;
		}
	}

	@include breakpoint(medium) {
		font-size: 13px;
	}
}

.filter-menu {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 13px;
	.is-active {
		a {
			position: relative;
			display: inline-block;
			&:before {
			   content:'';
			    position:absolute;
			    left: 30px; 
			    right: 30px;
			    top:100%;
			    margin:0 auto;
			    height:1px;
			    background: $primary-color;
			}
		}
	}

	@include breakpoint(medium) {
		margin-top: 50px;
		margin-bottom: 50px;
	}
}