a {
	-webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
	-moz-transition: background-color 0.25s ease-out, color 0.25s ease-out;
	-o-transition: background-color 0.25s ease-out, color 0.25s ease-out;
	transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

@import "buttons";
@import "menu";
@import "topbar";
@import "page-navigation";
@import "socialmedia";
@import "languageswitcher";
