$vertical-block-margins: (
  small: 2rem,
  medium: 3rem,
  large: 4rem,
);

$home-hero-height: 100vh;

$progress-bar-height: 3px;
$slide-duration: 5s;

@function block-margins($breakpoint: small) {
    @return map-get($vertical-block-margins, $breakpoint);
}

