$vertical-block-margins: (
  small: 2rem,
  medium: 3rem,
  large: 4rem,
);

$home-hero-height: 80vh;

@function block-margins($breakpoint: small) {
    @return map-get($vertical-block-margins, $breakpoint);
}

